<div class="container-fluid" style="background-color:lightblue">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="/index"><span class="material-icons">
              home
              </span>INICIO</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" routerLink="/registroC"><span class="material-icons">
                    account_circle
                    </span>Crear Cliente</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/registroRe"><span class="material-icons">
                      restaurant
                      </span>Crear Restaurante</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" routerLink="/registroRa"><span class="material-icons">
                      receipt_long
                      </span>Crear Reserva</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" style="color: green;" aria-current="page" routerLink="/listadoRa"><span class="material-icons">
                      view_list
                      </span>
                      Listar Reserva</a>
                </li>
              </ul>
            </div>
          </div>
    </nav>
    <div class="container" style="background-color:lightblue">
      <h1 class="text-center" style="color: green">LISTADO DE RESERVAS DE RESERVA</h1>
      <form [formGroup]="formularioLRa" style="
      width: 100%;
      max-width: 600px;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    "
      >
      <label>Escriba para buscar: <input formControlName="cednom" type="text"  placeholder="Ingrese para buscar"></label>
      <small class="text-danger" *ngIf="!validador && !validadorR || formularioLRa.value?.cednom == ''; else elseBlock">
        NO EXISTE
      </small>
      <ng-template #elseBlock>
        <label>Fecha&Hora: <input type="date" formControlName="fecha"></label>
        
        <br/>
        <div *ngIf="reservas.length>0">
          <table class="table table-dark">
            <thead>
              <tr>
                <th scope="col">ID RESERVA</th>
                <th scope="col">FECHA RESERVA</th>
                <th scope="col"># PERSONAS RESERVA</th>
                <th scope="col">CLIENTE</th>
                <th scope="col">RESTAURANTE</th>
                <th scope="col">DIRECCION</th>
                <th scope="col">AFORO ACTUAL</th>
              </tr>
            </thead>
            <tbody *ngFor="let r of reservas">
              <!--<tr *ngIf="formularioLRa.value?.cednom == r.fechaHoraReserva">-->
              <tr *ngIf="(formularioLRa.value?.cednom == r.cliente.cedula && r.fechaHoraReserva.startsWith(formularioLRa.value?.fecha)) || (formularioLRa.value?.cednom == r.restaurante.nombre && r.fechaHoraReserva.startsWith(formularioLRa.value?.fecha))">
                <th>{{r.id}}</th>
                <th>{{r.fechaHoraReserva.substring(0, 19)}}</th>
                <th>{{r.numPersonas}}</th>
                <th>{{r.cliente.nombres}} {{r.cliente.apellidos}}</th>
                <th>{{r.restaurante.nombre}}</th>
                <th>{{r.restaurante.direccion}}</th>
                <th>{{r.restaurante.numAforo}}</th>
              </tr>
            </tbody>
          </table>
        </div>
      </ng-template>
      </form>
    </div>
    <footer>
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
          © 2021 Copyright:
          <a class="text-reset fw-bold" href="https://www.facebook.com/gavriellrj">Gabriel Chuchuca</a>
        </div>
  </footer>
</div>
