<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand active" style="color: green;" routerLink="/index">Inicio</a>
          </div>
    </nav>
    <button routerLink="/registroC">CREAR CLIENTE</button>
    <br/>
    <br/>
    <button routerLink="/registroRe">CREAR RESTAURANTE</button>
    <br/>
    <br/>
    <button routerLink="/registroRa">CREAR RESERVA</button>
    <br/>
    <br/>
    <button routerLink="/listadoRa">LISTAR RESERVA</button>
</div>
