<div class="container-fluid" style="background-color: lightblue;">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand active text-center" style="color: green;" routerLink="/index">INICIO</a>
        </div>
    </nav>
    <div class="container" style="background-color:lightblue">
        <h1 style="color: green;" class="text-center">Reservas de Restaurantes de Cuenca</h1>
        <form style="width: 100%;
        max-width: 600px;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;">
            <button routerLink="/registroC" class="btn btn-outline-success my-2 my-sm-0">CREAR CLIENTE</button>
        <br/>
        <br/>
        <button routerLink="/registroRe" class="btn btn-outline-success my-2 my-sm-0">CREAR RESTAURANTE</button>
        <br/>
        <br/>
        <button routerLink="/registroRa" class="btn btn-outline-success my-2 my-sm-0">CREAR RESERVA</button>
        <br/>
        <br/>
        <button routerLink="/listadoRa" class="btn btn-outline-success my-2 my-sm-0">LISTAR RESERVA</button>
    
        </form>
    </div>
    <footer>
        <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
            © 2021 Copyright:
            <a class="text-reset fw-bold" href="https://www.facebook.com/gavriellrj">Gabriel Chuchuca</a>
          </div>
    </footer>
    
</div>
