<div class="container">
    <h1 class="text-center" style="color: green;">REGISTRO DE CLIENTE</h1>
    <form style="width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;">
        <label><strong>Cedula: </strong><input type="text" placeholder="Ingrese su cedula" required></label>
        <br/>
        <label><strong>Nombres: </strong><input type="text" placeholder="Ingrese su nombre" required></label>
        <br/>
        <label><strong>Apellidos: </strong><input type="text" placeholder="Ingrese su apellido" required></label>
        <br/>
        <label><strong>Correo Electronico: </strong><input type="text" placeholder="Ingrese su correo electronico" required></label>
        <br/>
        <label><strong>Direccion: </strong><input type="text" placeholder="Ingrese su direccion" required></label>
        <br/>
        <label><strong>Telefono: </strong><input type="text" placeholder="Ingrese su telefono" required></label>
        <br/>
        <button class="btn btn-success" (click)="regC()">Registrarse</button>
    </form>
</div>
